body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(233, 241, 252), rgb(234, 233, 225));
}

h1 {
  font-size: 64px;
  margin-top: 32px;
  margin-bottom: 16px;
}

input {
  border: 1px solid #CCCCCC;
  padding: 8px;
  margin-right: 3px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background-color: #888888;
  color: white;
  padding: 8px;
}

.main-content {
  flex-grow: 1;
}

.navigation {
  margin-bottom: 48px;
}

.navlink {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}
